@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Merriweather', serif;

}
*,*::before, *::after {
  box-sizing: inherit;
}

}
.nav-long {
  display: inline-block;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}

.nav {
  background-color: lightgrey;
  width: 50%;
}

nav-label{
  cursor: pointer;
}


.logo {
  width: 40%;
  padding-left: 1em;
}

.hamburger {
  width: 20%;
}

nav a{
  text-decoration: none;
  color: black;
}

.nav :hover {
  color: white;
}



.opening {
  background-image: url(" ../images/couple.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-right: 10em;
  width: 100%;
}

.long-nav a {
  color: white;
}

.long-nav-div {
  position: relative;
}

.long-nav-div img {
  position: absolute;
  width: 33.3%;
  top: -1.5em;
  padding-left: 1em;
}

.long-nav ol {
  text-align: center;
}

.long-nav {
  margin-left: 10em;
}


.phrase {
  color: white;
}

.sub-phrase {
  color: white;
}

.button{
  color: #ff8571;
  text-decoration: none;
  border: 1px solid #ff8571;
  font-family: 'Satisfy', cursive;
}

.price img {
  width: 100%
}


.tour {
  background-image: url("../images/wedding-shoe.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.list a{
  text-decoration: none;
}

.list {
  background-color:#B2A086;
  width: 100%;
  overflow:
}

.list a {
  color: white;
}

.tour p{
  color: white;
}

.logos a {

  text-decoration: none;

}

.facebook img {
  width: 28%;
  margin-right: 0.5em;
}

.instagram img {
  width: 28%;
  margin-right: 0.5em;
}


.pintrest img {
  width: 28%;
  margin-right: 0.5em;
}

.tour-nav {
  background-color: #B2A086;
}

@media only screen and (min-width: 15em) {

footer {
  text-align: center;
}

footer li {
  display: inline-block;
}


.price p {
  padding-top: 0;
}

}

@media only screen and (min-width: 38em) {


.logos img {
  padding-top: 3.5em;
}

.tour {
  padding-bottom: 8em;
  padding-top: 8em;

}


.price p {
  padding-top: 2.3em;
}

}

@media only screen and (min-width: 54em) {

.price p {
  padding-top: 2.7em;
}

  }

  @media only screen and (min-width: 54em) {

.price p {
  padding-top: 2.7em;
}

  }
