@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Merriweather', serif;

}
*,*::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #67623C;
}

.navigation a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.navigation ol{
  display: block;
}

.logo {
  text-align: center;
}


.logo img{
  width: 50%;
}

.navigation {
  text-align: center;
}


.navigation :hover {
  color: #FF8671;
}



.opening {
  background-image: url(" ../images/couple.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 4em;
  width: 100%;
}


.phrase {
  color: white;
}

.sub-phrase {
  color: white;
}

.button{
  color: #ff8571;
  text-decoration: none;
  border: 1px solid #ff8571;
  font-family: 'Satisfy', cursive;
}

.price img {
  width: 100%
}


.tour-icon {
  width: 40%
}

.tour-section p {
  margin: 0;
}

.tour-section h1 {
  margin: 0;
}

.price-icon {
  width: 20%
}

.facebook-icon {
  width: 20%;
}

.twitter-icon {
  width: 20%;
}

.instagram-icon {
  width: 20%;
}


.list a{
  text-decoration: none;
  color: white;
  display: inline-block;
}

.list ol {
  display: block;
}


.list {
  background-color:#B2A086;
  width: 100%;
}

.list :hover {
  color: #67633A;
}

.tour p{
  color: white;
}


.tour-nav {
  background-color: #B2A086;
}

label {
  display: block;
  cursor: pointer;
}

input + label {
  display: inline;
}

input {
  border: 1px white;
  background-color: #B2A086;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.25em;
  color: white;
}


button {
  border: 1px solid #FF8671;
  font-size: 1rem;
  padding: 0.325rem;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  background-color: white;
  color: #FF8671;
  font-family: 'Satisfy', serif;
}



@media only screen and (min-width: 15em) {

.price-section {
  margin-top: 4em;
}

.follow-section {
  margin-top: 4em;
}

}

footer {
  text-align: center;
}

footer li {
  display: block;
}



@media only screen and (min-width: 30em) {

.navigation li {
  display: inline-block;
}

.list li {
  display: inline-block;
}

}

@media only screen and (min-width: 38em){

.logo img{
  width: 40%;
  padding-top: 1.2em;
}

.navigation li {
  padding-left: 1em;
}

}


  @media only screen and (min-width: 60em) {

.price-section {
  margin-top: 0;
}

.follow-section {
  margin-top: 0;
}

.navigation {
  padding-top: 2.5em;
  text-align: left;

}

.logo {
  text-align: left;
}


  }
